table {
    border-collapse: collapse;
    background-color: #444444;
}
th, td {
    margin-right: 0px;
    margin-left: 0px;
    padding: 3px;
}
th {
    border-right: 2px solid white;
    text-align: right;
}
img {
    display: block;
    padding: 3px;
}
