#imagetoardif label {
    width: 7em;
    display: inline-block;
}
#image label {
    width: 12em;
}
label#block_label {
    width: auto;
}
input {
    background-color: #555555 !important;
}
select {
    margin: 0px;
    padding: 0px;
}
form, form * {
    background-color: #444444;
}
