<!DOCTYPE html>
<html>
    <head>
        <title>ARDIF</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel=stylesheet href=/static/ardif_to_image.css>
	<link rel=stylesheet href=/static/all.css>
    </head>
    <body>
        <h1>ARDIF Converter</h1>
        <table>
            <tr><th>Sender</th><td>{{sender}}</td></tr>
            <tr><th>Recipient</th><td>{{recipient}}</td></tr>
            <tr><th>Date</th><td>{{date}} UTC</td></tr>
            <tr><th>Title</th><td>{{title}}</td></tr>
            <tr><th>Comment</th><td>{{comment}}</td></tr>
        </table>
        <img src="{{uri}}"><br>
        __next_part__
        <a href=/>Home</a>
    </body>
</html>
