<!DOCTYPE html>
<html>
    <head>
        <title>ARDIF</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel=stylesheet href=/static/all.css>
    </head>
    <body>
        <h1>ARDIF Converter</h1>
        <p>Length {{data_len}} bytes.</p>
        <input type=text id=data value="{{data}}">
        <button id=copy style='display: none'>Copy to clipboard</button><br>
	__block_section__
        <a href=/>Home</a>
        <script src=/static/image_to_ardif.js></script>
    </body>
</html>
